if c.expectErr != "" {
	if err == nil {
		t.Fatalf("expect %v error, got none", c.expectErr)
	}
	if e, a := c.expectErr, err.Error(); !strings.Contains(a, e) {
		t.Fatalf("expect %v error, got %v", e, a)
	}
	return
}
if err != nil {
	t.Fatalf("expect no error, got %v", err)
}
